---
import { slugifyStr } from "@utils/slugify";

export interface Props {
  category: string;
  size?: "sm" | "lg";
}

const { category, size = "sm" } = Astro.props;
const slugCategory = slugifyStr(category);
---

<a
  href={`/categories/${slugCategory}/`}
  transition:name={slugCategory}
  class={`${size === "sm" ? "text-sm" : "text-lg"} pr-2 group`}
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class={`${size === "sm" ? " scale-75" : "scale-110"}`}
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="square"
      stroke-linejoin="miter"
      stroke-width="1.5"
      d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"
    ></path>
  </svg>
  &nbsp;<span>{category}</span>
</a>

<style>
  a {
    @apply relative decoration-dashed hover:-top-0.5 hover:text-skin-accent focus-visible:p-1;
  }
  a svg {
    @apply -mr-5 h-6 w-6 scale-95 text-skin-base opacity-80 group-hover:fill-skin-accent;
  }
</style>
